name: Latest YouTube Videos
on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme-with-youtube:
    name: Update this repo's README with latest videos from YouTube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "YOUTUBE"
          # ⚠️ IMPORTANT: YOU MUST REPLACE THE CHANNEL ID BELOW WITH YOUR REAL ID
          # You can find it by going to your channel -> About -> Share -> Copy Channel ID
          feed_list: "https://www.youtube.com/feeds/videos.xml?channel_id=UC_REPLACE_THIS_WITH_YOUR_ID" 
          max_post_count: 4
          template: "$newline- [$title]($url)"
